/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 16, 2024, 11:46:51 AM
    Author     : student
*/

body {
    color: white;
    background-image: url("resources/background1.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}